
#box{
    background-color: aquamarine;
    height: 500px;
}

body{
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1542365887-1149961dccc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: 100%;
}
*{
    border: 0.5px solid rgba(255, 0, 0, 3);
    font-family: 微軟正黑體;
    color:#FFFFFF

}